<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sqmmc>
            <ecommerce>
                <increase_batch_size>0</increase_batch_size>
            </ecommerce>
        </sqmmc>
    </default>
</config>
