<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="SqualoMail_SqmMcMagentoTwo::sqmmc_menu"
             title="SqualoMail"
             module="SqualoMail_SqmMcMagentoTwo"
             sortOrder="110"
             dependsOnModule="SqualoMail_SqmMcMagentoTwo"
             resource="SqualoMail_SqmMcMagentoTwo::main_menu"
        />
        <add id="SqualoMail_SqmMcMagentoTwo::config_menu"
             title="Configuration"
             module="SqualoMail_SqmMcMagentoTwo"
             sortOrder="10"
             resource="SqualoMail_SqmMcMagentoTwo::config_sqmmc"
             parent="SqualoMail_SqmMcMagentoTwo::sqmmc_menu"
             action="adminhtml/system_config/edit/section/sqmmc"
        />
        <add id="SqualoMail_SqmMcMagentoTwo::store_menu"
             title="SqualoMail Stores"
             module="SqualoMail_SqmMcMagentoTwo"
             sortOrder="20"
             resource="SqualoMail_SqmMcMagentoTwo::stores_grid"
             parent="SqualoMail_SqmMcMagentoTwo::sqmmc_menu"
             action="sqmmc/stores"
        />
        <add id="SqualoMail_SqmMcMagentoTwo::error_menu"
             title="Errors"
             module="SqualoMail_SqmMcMagentoTwo"
             sortOrder="30"
             resource="SqualoMail_SqmMcMagentoTwo::error_grid"
             parent="SqualoMail_SqmMcMagentoTwo::sqmmc_menu"
             action="sqmmc/errors"
        />
    </menu>
</config>